/* ManagerPage.css */

.manager-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    color: #333;
    min-height: 100vh;
    position: relative; /* To allow absolute positioning */
}

#logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: bold;
    color: #171212;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    background-color: #eec76b;
}

#logout-button:hover {
    background-color: #6b76ee;
}



/* The rest of your styles remain unchanged */
